<%- include('partials/header.html')%>

 

    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Busca:</h2>
            <div class="center">

                <div style="width:100%;" class="mais-lidas">
                    <h3>20 resultaods</h3>
                    <div class="mais-lidas-noticias">
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/corrida.png" alt="">
                            <div class="texto-mais-lida-single">
                                <h4>Orla da Barra</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis consectetur inc.</p>
                                <a href="/encarar-o-desafio">Saiba mais</a>
                            </div>
                        </div>
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/corrida.png" alt="">
                            <div class="texto-mais-lida-single">
                                <h4>Orla da Barra</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis consectetur inc.</p>
                                <a href="/encarar-o-desafio">Saiba mais</a>
                            </div>
                        </div>
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/corrida.png" alt="">
                            <div class="texto-mais-lida-single">
                                <h4>Orla da Barra</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis consectetur inc.</p>
                                <a href="/encarar-o-desafio">Saiba mais</a>
                            </div>
                        </div>
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/corrida.png" alt="">
                            <div class="texto-mais-lida-single">
                                <h4>Orla da Barra</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis consectetur inc.</p>
                                <a href="/encarar-o-desafio">Saiba mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer.html') %>
</body>

</html>