<%- include('partials/header.html') %>

<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2>Como evitar pessoas toxicas em game em dois pequenos passos!</h2>
             <div class="autor">
                <span>Por Gabriel Matos</span>
             </div>
             <p>
                Primeiramente entre no menu do seu jogo, reportar... mande ele pro caralho, mute ele... e siga enfrente, muitas pessoas pergunta por que mandar ele pro caralho... e eu simple mente respondo para tirar um peso das costas.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias accusantium, repudiandae fugit delectus provident commodi veniam modi, praesentium nesciunt debitis porro, non atque aspernatur accusamus molestiae inventore ratione omnis dicta.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti blanditiis, fuga ullam error, reiciendis doloremque qui recusandae eligendi nam a obcaecati dolores architecto ad excepturi dicta est deserunt, vel amet.

            </p>
                <h3>Quem são os toxicos</h3>
            <p>
                Normalmente pessoas que são cornas, burras, acefalas e principalmente Argentinos! consectetur adipisicing elit. Unde, nihil suscipit! Fugiat exercitationem explicabo cum laudantium. Perferendis, sapiente facilis dolore velit neque odit consequatur exercitationem aliquid quisquam dolor, fugiat natus?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias sed ratione deserunt velit? Corrupti sed ducimus pariatur quaerat, voluptate ad adipisci eum, saepe veniam, dicta consectetur. Recusandae incidunt doloribus alias!
            </p>
        </div>
        <div class="mais-lidas">
            <h3>as mais lidas</h3>
            <div class="mais-lidas-noticias">
                <div class="mais-lida-noticia-single">
                    <img src="/public/images/corrida.png" alt="">
                    <div class="texto-mais-lida-single">
                        <h4>Orla da Barra</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis consectetur inc.</p>
                        <a href="/encarar-o-desafio">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lida-noticia-single">
                    <img src="/public/images/corrida.png" alt="">
                    <div class="texto-mais-lida-single">
                        <h4>Orla da Barra</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis consectetur inc.</p>
                        <a href="/encarar-o-desafio">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lida-noticia-single">
                    <img src="/public/images/corrida.png" alt="">
                    <div class="texto-mais-lida-single">
                        <h4>Orla da Barra</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis consectetur inc.</p>
                        <a href="/encarar-o-desafio">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lida-noticia-single">
                    <img src="/public/images/corrida.png" alt="">
                    <div class="texto-mais-lida-single">
                        <h4>Orla da Barra</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis consectetur inc.</p>
                        <a href="/encarar-o-desafio">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<%- include('partials/footer.html') %>

</body>
</html>